%meta{'http-equiv' => 'refresh', :content => '30'}

- unless @predictions.empty?
  %h2
    ='- - - CTA Bus Status - - -'
    %br
    - @predictions.each do |prediction|
      - prediction = prediction.last
      - time_remaining = time_remaining(Time.parse(prediction['predicted_time']))
      %h3
        = "##{@route_number} to #{prediction['destination']}"
        - if time_remaining > 1
          %br
          = "#{time_remaining} minutes away"
        - elsif time_remaining <= 1
          = "is due"
        %br
        = "Bus ##{prediction['vehicle_id']}"
      %h2
        ='- - - - - - - - - - - - - - - - - - -'
- else
  %h3
    Sorry, there are no buses are coming...

%h4
  This page will refresh every 30 seconds.
